.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(17, 14, 14);
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
    padding: 0 5rem;
    border: dotted;
    text-shadow: 5px 4px #048000;
}

.App-main {
  margin-top: 2rem;
  color: rgb(211, 211, 211);
  border: outset;
}

.App-link {
  color: #c5e8f1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(360deg);
  }
}